/* PHASE 7: Online */

.profile-picture {
  overflow: hidden;
}

.online {
  display: block;
  position: absolute;
  font-size: 12px;
  letter-spacing: 3px;
  transform: rotate(-45deg) translateX(-25%);
  top: -10px;
  left: -10px;
  padding: 5px 30px;
  font-weight: 700;
  text-transform: uppercase;
  background: #0c0;
  color: white;
  border
}